---
layout: base
---
<div class="linktree">
    <header>
        <img
            class="avatar"
            src="{{ '/assets/images/avatar.jpeg' | prepend: site.url }}">
        <h1>Mazard Records</h1>
    </header>
    <nav>
        {% for link in site.links %}
            {% if link.site == "soundcloud" %}
            {% include link-soundcloud.html link=link %}
            {% else if link.site == "youtube" %}
            {% include link-youtube.html link=link %}
            {% else %}
            {% include link-website.html link=link %}
            {% endif %}
        {% endfor %}
        <a href='https://linkaband.com/mazard-records?utm_source=badge&utm_campaign=53581' target='_blank'>
            <img src='https://linkaband.com/assets/images/validation/verified-orange.png' alt='Mazard-records' style='width: 130px; height: 130px;'/>
        </a>
    </nav>
</div>
