@charset "utf-8";
@import "colors";
@import "containers";
@import "normalize";

html {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
}