$primary-text: white;
$primary-background: rgb(36, 41, 47); 
$primary-soundcloud: #f50;
$primary-youtube: #f00;

$secondary-background: lighten($primary-background, 5%);
$secondary-soundcloud: darken($primary-soundcloud, 15%);
$secondary-youtube: darken($primary-youtube, 15%);
