#root-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    z-index: 1000;
}

.container,
.container:active,
.container:hover,
.container:link,
.container:visited {
    align-items: center;
    box-shadow: 12px 12px 2px 1px $secondary-soundcloud;
    box-sizing: border-box;
    color: $primary-text;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.container-soundcloud {
    background-color: $primary-soundcloud;

    span {
        color: $primary-text;
        font-family: Interstate, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
        font-size: 18px;
        font-weight: normal;
    }
}

.container-soundcloud > svg {

    height: 32px;
    width: 32px;

    path {
        fill: $primary-text;
    }
}

.container-youtube {
    background-color: $primary-youtube;
}