#root-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    z-index: 1000;
}

.container,
.container:active,
.container:hover,
.container:link,
.container:visited {
    align-items: center;
    border: 2px white solid;
    box-sizing: border-box;
    color: $primary-text;
    display: flex;
    flex-direction: row;
    margin-bottom: 32px;
    margin-left: -2.5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.container svg {

    height: 32px;
    margin-right: 15px;
    width: 32px;

    path {
        fill: $primary-text;
    }
}

.container-soundcloud {
    background-color: $primary-soundcloud;
    box-shadow: 5px 5px 0px 0px $secondary-soundcloud;

    span {
        color: $primary-text;
        font-family: Interstate, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
        font-size: 18px;
        font-weight: normal;
    }
}

.container-youtube {
    background-color: $primary-youtube;
    box-shadow: 5px 5px 0px 0px $secondary-youtube;

    span {
        color: $primary-text;
        font-family: Roboto, Arial, sans-serif;
        font-size: 18px;
        font-weight: 700;
    }
}