html {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
}

/**
 * Wave effect designed by Ray Kuo.
 * https://codepen.io/raykuo/pen/QgaKrr
 */
body {
    align-items: center;
    background-color: $primary-background;
    color: $primary-text;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;

    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 50%;
      min-width: 300vw;
      min-height: 300vw;
      background-color: $secondary-background;
      animation-name: rotate;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
    
    &:before {
      bottom: 35vh;
      border-radius: 45%;
      animation-duration: 10s;
    }
    
    &:after {
      bottom: 30vh;
      opacity: .5;
      border-radius: 47%;
      animation-duration: 10s;
    }
}

@keyframes rotate {
    0% {transform: translate(-50%, 0) rotateZ(0deg);}
    50% {transform: translate(-50%, -2%) rotateZ(180deg);}
    100% {transform: translate(-50%, 0%) rotateZ(360deg);}
}   
  
header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 32px;
}

h1 {
    font-family: "Candreva", sans-serif;
    //font-family: "Sang Jutawan", sans-serif;
    font-size: 32px;
    font-weight: normal;
}

nav {
    width: 100%;
}