@charset "utf-8";
@import "colors";
@import "containers";
// @import "normalize";

html {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    background-color: $primary-background;
    color: $primary-text;
    min-height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.linktree {
    margin: 10%;
}