---
# NOTE: front matter is mandatory for overring normalizes
---

@charset "utf-8";
@import "colors";
@import "containers";
@import "images";

html {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    background-color: $primary-background;
    color: $primary-text;
    min-height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.linktree {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10%;
}