---
# NOTE: front matter is mandatory for overring normalizes
---

@charset "utf-8";
@import "colors";
@import "containers";
@import "html";
@import "images";

.linktree {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10%;
}